.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
.carousel-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.scroll-group {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  animation: spin 20s linear infinite;
}
.scroll-group:hover .group {
  animation-play-state: paused;
}

.scroll-content {
  display: flex;
  flex: 0 0 5em;
  gap: 1em;
  width: max-content;
}

.title-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gradient-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;

  background: linear-gradient(90deg, #4635ff, #48b148, #b4e914, #a10202);
  -webkit-background-clip: text;

  /* fallback for non-webkit */
  background-clip: text;
  color: transparent;
}

@keyframes spin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
